@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'PP Monument Extended';
    font-display: swap;
    font-style: normal;
    font-weight: 200;
    src: url('http://localhost:3000/mnt_l.woff') format('woff');
}

@font-face {
    font-family: 'PP Monument Extended';
    font-display: swap;
    font-style: normal;
    font-weight: 700;
    src: url('http://localhost:3000/mnt_b.woff') format('woff');
}

a, b, h1, h2, h3, h4, h5, h6, i, p, q, s, span {
    font-family: 'PP Monument Extended', sans-serif;
    font-weight: 200;
    text-transform: uppercase;
}
